<div class="row">
    <div class="col-md-12">
        <h1>Quiz</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        You've completed your quiz.
        You received a score of <%=quiz_score%> because you got
        <%=quiz_correct_count> out of 5 correct.
    </div>
</div>
