<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @profile.first_name %> please reset your password</h1>
    <p>
      To reset your password, just follow this link: <%= passwordreset_edit_path %>.
    </p>    
  </body>
</html>
