<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @profile.first_name %> please reset your password</h1>
    <p>
      <%= link_to "Reset password", passwordreset_edit_url(:token => @profile.remember_token)%>
    </p>    
  </body>
</html>
